* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    padding: auto;
    margin: auto;
    background-color: lightgray;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
    align-items: center;
}
#button-container {
 display: flex;
 justify-content: center;
 align-items: center;
}
#word-container {
   visibility: hidden;
}

#score-container {
    visibility: hidden;
}